/*Admin stylesheet*/
.admin-left{
	border: #ccc solid 2px;
	padding: 0 !important;
}

.admin-left h4{
	background-color: #FE980F;
	color: #fff;
	margin-top: 0;
	height: 40px;
	font: 20px;
	font-family: calibri;
	line-height: 2;
	font-weight: bold;
}

.admin-left ul{
	margin: 0;
	padding: 0;
}
.admin-left a{
	display: block;
	height: 45px;
	line-height: 3;
	text-align: center;
	width: 90%;
	margin: 4px auto;
	border: #eee solid thin;
	border-radius: 4px;
}

.admin-left a.active{
	background-color: #020477;
	color: #fff;
}
.admin-right{
	margin: 4px auto;
	border-top: #eee solid thin;
	padding: 8px;
}
.admin-right h2.title{
	font-size: 16px !important;
	color: #555;
}
.admin{
	margin: 8px auto !important;
	border: #eee solid thin !important;
	text-align: center;
	border-radius: 8px;
}

.qty{
	width: 90px;
	font-size: 15px;
  	margin-bottom: 15px !important;
  	background:#F5F5ED;
  	border: 0 none;
	border-radius: 2px;
	color: #696763;
  	height: 34px;
  	position: relative;
  	bottom: 10px;
  	box-shadow: 0 0 1px #F5F5ED;
}
.cat_link{
	text-align: center;
}

/* hidden fixed navigation */
#fixedbar { 
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  /*background: rgba(0,0,0,0.75);*/
  background-color: #0cf;
  z-index: 10000;
}
 
#fixednav { 
  display: block;
  width: 810px;
  margin: 0 auto;
  padding: 0px 5px;
}
 
#fixednav li a {
  display: block;
  float: left;
  font-size: 18px;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  padding: 0px 4px;
  margin-right: 6px; 
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear; 
}

#fixednav li a.cart{
	text-align: center;
	background-color: #0cf;
	font-size: 14px;
}

/*navigation ends*/

.details{
	border: solid thin;
	display: inline-block;
}

.profile div.row{
	min-height: 50px;
	line-height: 45px;
	margin: 4px auto;
	border-bottom: dashed thin;
}

.profile input[type=text],input[type=password],input[type=email]{
	background: #F0F0E9;
	border: medium none;
	color: #696763;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	height: 40px;
	margin-bottom: 10px;
	outline: medium none;
	padding-left: 10px;
	width: 100%;
	box-shadow: 0 0 1px #F0F0E9;
}

.cat{
	width: 90%;
	margin: 10px auto;
	padding: 8px;
}

a.cat_a, a.cat_b{
	display: block;
	width: 100%;
	border:#eee solid thin;
	height: 50px;
	line-height: 45px;
	box-shadow: 0 0 4px #000;
}